SoilMonitoringIoT/flows.json
[{"id":"fd3b4770.65f3b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d63c01ba.836cb","type":"ibmiot in","z":"fd3b4770.65f3b8","authentication":"apiKey","apiKey":"5f230433.2f706c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2004","applicationId":"","deviceType":"Soiliot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":220,"wires":[["d38e12a9.17e28","567b967d.7b03c8","edf081f7.870fd"]]},{"id":"d38e12a9.17e28","type":"ui_gauge","z":"fd3b4770.65f3b8","name":"","group":"4efc3e84.0a17","order":0,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture Level","label":"units","format":"{{msg.payload.moisture}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":220,"wires":[]},{"id":"567b967d.7b03c8","type":"ui_gauge","z":"fd3b4770.65f3b8","name":"","group":"4efc3e84.0a17","order":1,"width":0,"height":0,"gtype":"gage","title":"pH level in Soil","label":"units","format":"{{msg.payload.pH}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":300,"wires":[]},{"id":"edf081f7.870fd","type":"ui_gauge","z":"fd3b4770.65f3b8","name":"","group":"4efc3e84.0a17","order":2,"width":0,"height":0,"gtype":"gage","title":"Nitrogen Level in Soil","label":"units","format":"{{msg.payload.Nitrogen}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":400,"wires":[]},{"id":"5f230433.2f706c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"tywy94.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4efc3e84.0a17","type":"ui_group","z":"","name":"Soil Quality","tab":"67de602c.c7ac8","order":1,"disp":true,"width":"6","collapse":false},{"id":"67de602c.c7ac8","type":"ui_tab","z":"","name":"Home","icon":"Home","disabled":false,"hidden":false}]